{% extends 'base.html' %}
{% block title %}
Create Item
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="/static/seller/createitem.css">
{% endblock style %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock header %}
{% block body %}
<nav>
    <a href="/seller/items/"><i class="fas fa-arrow-left" style="font-size: 20px;"></i>  Back</a>
    {% if request.user.is_authenticated %}
    <a href="/profile/"><h4><i class="fas fa-user" style="font-size: 20px;"></i>  Hey {{request.user}}</h4></a>
    {% endif %}
    <h1><i class="fas fa-plus-circle" style="font-size: 20px;"></i>  Create Item</h1>
    {% if request.user.is_authenticated %}
    <a href="/logout"><i class="fas fa-sign-in-alt" style="font-size: 20px;"></i>  logout</a>
    {% else %}
    <a href="/login/"><i class="fas fa-sign-out-alt" style="font-size: 20px;"></i>  login</a>
    {% endif %}
</nav>
<div class="nonnav">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h4>Name:</h4><input type="text" name="name" required>
        <h4>Description:</h4><textarea name="description" required></textarea>
        <h4>Image:</h4><input type="file" name="image" accept="image/*" required>
        <h4>Price:</h4><input type="number" name="price" required>
        <h4>Category:</h4>
        <select name="category" required>
            {% for list in category_list %}
            <option value="{{list}}">{{list}}</option>
            {% endfor %}
        </select>

        <h4>Count:</h4><input type="number" name="count" value="1" required>
        <h4>Added By:</h4><input class="readonly" type="text" name="added_by" value="{{request.user}}" readonly required><br>
        <button type="submit"><i class="fas fa-save" style="font-size: 20px;"></i>  Save</button>
    </form>
</div>
{% endblock body %}