{% extends 'base.html' %}
{% block title %}
Seller Landing
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="/static/seller/elanding.css">
{% endblock style %}
{% block header %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-...." crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock header %}
{% block body %}
<nav>
    {% if request.user.is_authenticated %}
    <a href="/profile/">
        <h4><i class="fas fa-user-cog" style="font-size: 20px;"></i> Hey {{request.user}}</h4>
    </a>
    {% endif %}
    <a href="/seller/items/">
        <i class="fas fa-list" style="font-size: 20px;"></i> All Items
    </a>
    {% if request.user.is_superuser %}
    <a href="/seller/create-seller/">
        <i class="fas fa-user-plus" style="font-size: 20px;"></i> Create new Seller
    </a>
    {% endif %}
    <a href="/seller/orders/"><i class="fas fa-clipboard-list" style="font-size: 20px;"></i> All Orders</a>
    <a href="/"><i class="fas fa-external-link-alt" style="font-size: 20px;"></i> Go as User</a>
    {% if request.user.is_authenticated %}
    <a href="/logout"><i class="fas fa-sign-out-alt" style="font-size: 20px;"></i> logout</a>
    {% else %}
    <a href="/login/"><i class="fas fa-sign-in-alt" style="font-size: 20px;"></i> login</a>
    {% endif %}
</nav>
<div class="under">
</div>
<div id="JsonData" json-data="{{JsonData}}"></div>
<div class="charts">
    <div class="multi">
        <canvas id="myChart1"></canvas>
    </div>
    <div class="mono">
        <a href="/seller/orders/"><canvas id="myChart2"></canvas></a>
    </div>
</div>
<script>
    var JsonData = JSON.parse(document.getElementById("JsonData").getAttribute('json-data'))
    //console.log(JsonData.ItemsName)
    for (i = 0; i < (JsonData.ItemsName).length; i++) {
        console.log(JsonData.ItemsName[i])
    }
    for (i = 0; i < (JsonData.ItemsNumber).length; i++) {
        console.log(JsonData.ItemsNumber[i])
    }
    for (i = 0; i < (JsonData.OrdersName).length; i++) {
        console.log(JsonData.OrdersName[i])
    }
    //console.log(JsonData.ItemsNumber)
    //console.log(JsonData.OrdersName)
    const ctx = document.getElementById('myChart1');
    const ctx2 = document.getElementById('myChart2');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: JsonData.ItemsName,
            datasets: [{
                label: 'Number of Stocks',
                data: JsonData.ItemsNumber,
                borderWidth: 1,
                backgroundColor: '#58a6ff',
                borderColor: '#468ddf',
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    console.log((JsonData.OrdersName).length)
    new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: ['Available Orders'],
            datasets: [{
                label: 'Available Orders',
                data: [(JsonData.OrdersName).length],
                borderWidth: 1,
                backgroundColor: 'white',
                borderColor: '#468ddf',
                width: 10,
                barThickness: 40
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

</script>
{% endblock body %}