{% extends 'base.html' %}
{% block title %}
Seller Landing
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="/static/seller/elanding.css">
{% endblock style %}
{% block header %}
{% endblock header %}
{% block body %}
<nav>
    {% if request.user.is_authenticated %}
    <a href="/profile/">
        <h4 style="cursor: pointer">Hey {{request.user}}</h4>
    </a>
    {% endif %}
    <a href="/seller/items/">
        All Items
    </a>
    {% if request.user.is_superuser %}
    <a href="/seller/create-seller/">
        Create new Seller
    </a>
    {% endif %}
    <a href="/seller/orders/">All Orders</a>
    <a href="/">Go as User</a>
    {% if request.user.is_authenticated %}
    <a href="/logout">logout</a>
    {% else %}
    <a href="/login/">Login</a>
    {% endif %}
</nav>
<div class="under">
    <h1>Seller Landing</h1>
</div>

{% endblock body %}