<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
</head>
<body>
    {% if request.user.is_authenticated %}
    <a href="/logout">logout</a> <h4>Hey {{request.user}}</h4>
    {% else %}
    <a href="/login/">Login</a>
    {% endif %}
    <h1>Update Item</h1>
    <a href="/seller/details/{{item.id}}">Back</a>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- <h4>Name:<input type="text" name="name" required></h4>
        <h4>Description:<textarea name="description" required></textarea></h4>
        <h4>Image:<input type="file" name="image" accept="image/*" required></h4>
        <h4>Price:<input type="number" name="price" required></h4>
        <h4>
            Category:<select name="category" required>
                {% for list in category_list %}
                <option value="{{list}}">{{list}}</option>
                {% endfor %}
            </select>
        </h4>
        <h4>Count:<input type="number" name="count" value="1" required></h4>
        <h4>Added By:<input type="text" name="added_by" value="{{request.user}}" readonly required></h4> -->
        {{form.as_p}}
        <input type="submit" value="Save">
    </form>
</body>
</html>