{% extends 'base.html' %}
{% block title %}
Update
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="/static/seller/update.css">
{% endblock style %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock header %}
{% block body %}
<nav>
    <a href="/seller/details/{{item.id}}"><i class="fas fa-arrow-left" style="font-size: 20px;"></i>  Back</a>
    {% if request.user.is_authenticated %}
    <a href="/profile/">
        <h4><i class="fas fa-user-cog" style="font-size: 20px;"></i>  Hey {{request.user}}</h4>
    </a>
    {% endif %}
    <h1><i class="fas fa-sync" style="font-size: 20px;"></i>  Update Item</h1>
    {% if request.user.is_authenticated %}
    <a href="/logout"><i class="fas fa-sign-out-alt" style="font-size: 20px;"></i>logout</a>
    {% else %}
    <a href="/login/"><i class="fas fa-sign-in-alt" style="font-size: 20px;"></i>login</a>
    {% endif %}
</nav>
<div class="nonnav">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Name:</h3>
        {{form.name}}
        <h3>Description:</h3>
        {{form.description}}
        <h3>Image:</h3>
        <div class="image">
            {{form.image}}
        </div>
        <h3>Price:</h3>
        {{form.price}}
        <h3>Category:</h3>
        {{form.category}}
        <h3>Count:</h3>
        {{form.count}}
        <h3>Added By:</h3>
        {{form.added_by}} <br>
        <button type="submit"><i class="fas fa-sync" style="font-size: 20px;"></i>  Update</button>
    </form>
</div>
{% endblock body %}