{% extends 'base.html' %}
{% block title %}
Buy Now
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="/static/user/confirmorder.css">
{% endblock style %}

{% block header %}

{% endblock header %}
{% block body %}
<nav>
    <a href="/">Back</a>
    <h1>Buy Now 3</h1>
    {% if request.user.is_authenticated %}
    <a href="/logout/">logout</a>
    {% else %}
    <a href="/login/">login</a>
    {% endif %}
</nav>
<div class="upper">
    <div class="photo">
        <img src="/uploads/{{items.image}}" alt="">
    </div>
    <div class="text">
        <h2>{{items.name}}</h2>
        <h3>{{items.description}}</h3>
        
        <form method="POST">
            {% csrf_token %}
    </div>
</div>
<div class="details">
<h3>Address:</h3>
<textarea name="" id="" cols="30" rows="10" readonly>{{user.address}}</textarea>
<h3>Phone Number:</h3>
<input type="text" value="{{user.phone_number}}" readonly>
<div class="amount">
<h2>Total Amount:</h2>
<h2>₹ {{total}}</h2>
</div>
</div>
<div class="buttons">
    <button>Place order</button>
</div>
</form>

{% endblock body %}