{% extends 'base.html' %}
{% block title %}
Details
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="/static/user/edetails.css">
{% endblock style %}

{% block header %}

{% endblock header %}
{% block body %}
<nav onload="location.reload()">
    <a href="/">Back</a>
    {% if request.user.is_authenticated %}
    <a href="/profile/">
        <h4>Hey {{request.user}}</h4>
    </a>
    {% endif %}

    <a href="/user/cart/">My cart</a>

    {% if request.user.is_authenticated %}

    <a href="/logout">logout</a>
    {% else %}
    <a href="/login/">Login</a>
    {% endif %}
</nav>
{% if message %}
{{message}}
<div class="out">
    <div style="opacity: 0.3;" class="photo">
        <img src="/uploads/{{item.image}}" alt="">
    </div>
    <div class="text">
        <h1 style="opacity: 0.3;">{{item.name}}</h1>
        <h3 style="opacity: 0.3;">{{item.description}}</h3>
        <h2 style="opacity: 0.3;">₹ {{item.price}}</h2>
        <h2 style="opacity: 1;">Out Of Stoke</h2>
        <form method="POST">
            {% csrf_token %}
            <div style="opacity: 0.3;" class="buttons">
                {% if already %}
                <button class="disabled" disabled>Add to cart</button>
                {% else %}
                <button class="disabled" disabled>Add to cart</button>
                {% endif %}
        </form>
        <button class="disabled" type="button" disabled>Buy Now</button>
    </div>
</div>
</div>
{% else %}
{{send}}

<div class="photo">
    <img src="/uploads/{{item.image}}" alt="">
</div>
<div class="text">
    <h1>{{item.name}}</h1>
    <h3>{{item.description}}</h3>
    <h2>₹ {{item.price}}</h2>
    <h4>Available stock:{{item.count}}</h4>
    <form method="POST">
        {% csrf_token %}
        <div class="buttons">
            {% if already %}
            <button class="btn" id="disabled" disabled>Add to cart</button>
            {% else %}
            <input type="submit" class="btn" value="Add to cart" >
            {% endif %}
    </form>
    <a href="/user/buynow/1/{{item.id}}"><button class="btn" type="button">Buy Now</button></a>
</div>
</div>

{% endif %}

{% endblock body %}