<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>

<body>
    {{send}}
    {% if request.user.is_authenticated %}
    <a href="/logout">logout</a>
    <h4>Hey {{request.user}}</h4>
    {% else %}
    <a href="/login/">Login</a>
    {% endif %}

    <a href="/">Back</a>
    <a href="/user/cart/">My cart</a>
    {% if message %}
    <img src="/uploads/{{item.image}}" alt="">
    <h1>{{item.name}}</h1>
    <h2>{{item.description}}</h2>
    <h2>₹ {{item.price}}</h2>
    <h1>{{message}}</h1>
    {% else %}
    <img src="/uploads/{{item.image}}" alt="">
    <h1>{{item.name}}</h1>
    <h2>{{item.description}}</h2>
    <h2>₹ {{item.price}}</h2>
    <h4>Available stock:{{item.count}}</h4>
    <form method="POST">
        {% csrf_token %}
        {% if message %}
        <button disabled>Add to cart</button>
        {% else %}
        <button>Add to cart</button>
        {% endif %}
    </form>
    <a href="/user/buynow/1/{{item.id}}"><button >Buy Now</button></a>
    {% endif %}
</body>

</html>