{% extends 'base.html' %}
{% block title %}

{% endblock title %}
{% block style %}
<link rel="stylesheet" href="/static/user/orderdetails.css">
{% endblock style %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock header %}
{% block body %}
<nav>
    <a href="/user/orders/"><i class="fas fa-arrow-left" style="font-size: 20px;"></i>  Back</a>
    <h1>Order details</h1>
    {% if request.user.is_authenticated %}
    <a href="/logout"><i class="fas fa-sign-out-alt" style="font-size: 20px;"></i>  logout</a>
    {% else %}
    <a href="/login"><i class="fas fa-sign-in-alt" style="font-size: 20px;"></i> login</a>
    {% endif %}
</nav>
<div class="nonnav">
    
    <div class="photo">
        <img src="/uploads/{{item.item.image}}" alt="">
    </div>
    <div class="text">
        <h2>{{item.item.name}}</h2>
        <h3>{{item.item.description}}</h3>
        <h4> Price : ₹{{item.item.price}}</h4>
        <h4>Ordered on: {{item.date}}</h4>
        <h3>Status :{{item.order_status}}</h3>
        <button onclick="check()"><i class="fas fa-times" style="font-size: 20px;"></i>  Cancel Order</button>
    </div>
</div>
<script>
    function check() {
        if (confirm('Are you sure to cancel the order ?') == true) {
            window.location.href = '/user/cancel-order/{{item.id}}'
            showToast()
        }
        else {
            location.reload();
        }
    }
</script>
{% endblock body %}