{% extends 'base.html' %}
{% block title %}

{% endblock title %}
{% block style %}
<link rel="stylesheet" href="/static/user/orders.css">
{% endblock style %}

{% block header %}

{% endblock header %}
{% block body %}
<nav>
    <a href="/profile/">Back</a>
    <h1>Orders</h1>
    {% if request.user.authenticated %}
    <a href="/logout/">logout</a>
    {% else %}
    <a href="/login/">login</a>
    {% endif %}
</nav>
{% if message %}
<div class="mess">
<h1>{{message}}</h1>
</div>
{% endif %}
{% for order in orders %}
<a href="/user/order-details/{{order.id}}">
    <div class="eachitem">
        <h4>{{order.item.name}}</h4>
        <h4>{{order.date}}</h4>
    </div>
</a>
{% endfor %}
{% endblock body %}