{% extends 'base.html' %}
{% block title %}
Register User
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="/static/user/euserregister.css">
{% endblock style %}

{% block header %}

{% endblock header %}
{% block body %}
<nav>
    <a style="cursor: pointer;" onclick="history.back()">Back</a>
    <h1>Register User</h1>
</nav>
<div class="nonnav">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h4>Name:</h4>{{form.name}}
        <h4>Phone No:</h4>{{form.phone_number}}
        <h4>Address:</h4>{{form.address}}
        <h4>Email:</h4>{{form.email}}
        <h4>Password:</h4>{{form.password}} <br>
        <input type="submit" value="Sign Up">
    </form>
</div>
{% endblock body %}