{% extends 'base.html' %}
{% block title %}
Register User
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="/static/user/userregister.css">
{% endblock style %}

{% block header %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock header %}
{% block body %}
<nav>
    <a style="cursor: pointer;" onclick="history.back()"><i class="fas fa-arrow-left" style="font-size: 20px;"></i>  Back</a>
    <h1><i class="fas fa-user-plus"></i>  Register User</h1>
</nav>
<div class="nonnav">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h4>Name:</h4>{{form.name}}
        <h4>Phone No:</h4>{{form.phone_number}}
        <h4>Address:</h4>{{form.address}}
        <h4>Email:</h4>{{form.email}}
        <h4>Password:</h4>{{form.password}} <br>
        <input type="submit" value="Sign Up">
    </form>
</div>
{% endblock body %}