<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
</head>

<body>
    <nav></nav>
    {% if request.user.is_authenticated %}
    <a href="/logout">logout</a>
    <h4>Hey {{request.user}}</h4>
    {% else %}
    <a href="/login/">Login</a>
    {% endif %}
    {% if request.user.is_staff %}
    <a href="/seller/">Seller account</a>
    {% endif %}
    <a href="/user/cart/">my cart</a>
    </nav>
    <h1>Landing page</h1>
    {% for item in items %}
    <a href="/user/details/{{item.id}}">{{item}}</a> <br>
    {% endfor %}
</body>

</html>