{% extends 'base.html' %}
{% block style %}
<link rel="stylesheet" href="/static/landing.css">
{% endblock style %}

{% block title %}
Landing page
{% endblock title %}
{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-...." crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock header %}
{% block body %}
<div id="intro" class="intro" style="display: none;">
    <img class="introimg" src="/static/introimage.png" alt="">
    <h1>welcome</h1><br>
    <div class="loading">
        <span> .</span>
    </div>
</div>
<nav>
    {% if request.user.is_authenticated %}
    {% if request.user.is_staff %}
    <a id="profile" class="navitem" href="/profile/"><i class="fas fa-user-cog" style="font-size:20px"></i>
        <h4>Hey {{request.user}}</h4>
    </a>
    {% elif request.user.is_active and not request.user.is_superuser %}
    <a id="profile" class="navitem" href="/profile/"><i class="fas fa-user" style="font-size:20px"></i>
        <h4>Hey {{request.user}}</h4>
    </a>
    {% endif %}
    {% endif %}

    {% if request.user.is_staff %}
    <a class="navitem" href="/seller/"><i class="fas fa-store-alt" style="font-size:20px"></i> Go to seller account</a>
    {% endif %}
    <h3>Ecommerse app</h3>
    {% if request.user.is_authenticated %}
    <a class="navitem" href="/user/cart/"><i class="fa fa-shopping-cart" style="font-size:20px"></i> My cart</a>
    <a class="navitem" href="/logout"><i class="fas fa-sign-out-alt" style="font-size:20px"></i> logout</a>
    {% else %}
    <a class="navitem" href="/login/"><i class="fa fa-sign-in" style="font-size:20px"></i> login</a>
    {% endif %}
</nav>
<a href="/user/details/{{random.id}}">
    <div class="banner">
        <img class="bannerimg" src="/uploads/{{random.image}}" alt="">
    </div>
</a>
<div class="container">
    {% for item in items %}
    <a href="/user/details/{{item.id}}">
        <div class="eachitem">
            <img class="images" src="/uploads/{{item.image}}" alt="">
            {{item}}
        </div>
    </a>
    {% endfor %}
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        if (!sessionStorage.getItem("introShown")) {
            var introDiv = document.getElementById("intro");
            if (introDiv) {
                introDiv.style.display = "flex";
            }
            sessionStorage.setItem("introShown", "true");
        }
    });

</script>
{% endblock body %}