* {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #207de7;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    height: 50px;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav a:hover {
    color: white;
}

nav a {
    font-size: medium;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nonnav{
    text-align: center;
    justify-content: center;
}
input{
    width: 30%;
    height: 25px;
    margin: 5px;
    border: 1px solid #207de7;

}
input:focus{
    outline: 1px solid #207de7;
}
textarea{
    width: 30%;
    border: 1px solid #207de7;

}
textarea:focus{
    outline: 1px solid #207de7;
}
select{
    width: 30%;
    height: 25px;
    border: 1px solid #207de7;
}
input[type="submit"]{
    background-color: #207de7;
    width: 80px;
    height: fit-content;
    padding: 8px;
    border: 1px solid #207de7;
    border-radius: 5px;
}
input[type="submit"]:hover{
    background-color: white;
    color: #207de7;
    cursor: pointer;
}
input[type="file"]{
    border:none;
    width: fit-content;
}
input[type="file"]:hover{
    cursor: pointer;
}
.image{
    margin: 10px;
    display: block;
    justify-content: center;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
